/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'CornDemo-Regular';
    src: url('original_CornDemo-Regular.eot?#iefix') format('embedded-opentype'), 
         url('original_CornDemo-Regular.woff') format('woff'),
         url('original_CornDemo-Regular.ttf') format('truetype'),
         url('original_CornDemo-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}